body {
  background-color: white;
}

.calculator {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  border: 3px solid black;
}

.calculator-screen {
  background-color: grey;
  text-align: right;
}

.calculator-digits {
  font-size: 50px;
  padding: 5px 10px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.calculator-button {
  background-color: lightgray;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.orange-button {
  background-color: orange;
}

.calculator-buttons-bottom {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.calculator-button-bottom {
  background-color: lightgray;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.orange-button-bottom {
  background-color: orange;
}
