body {
  background-color: white;
  margin: auto;
}

.calculator {
  width: 50%;
}

.calculator-screen {
  background-color: #858693;
  text-align: right;
}

.calculator-digits {
  font-size: 50px;
  padding: 5px 10px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.calculator-button {
  background-color: #e0e0e0;
  border: 1px solid #cacaca;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.orange-button {
  background-color: #f5913e;
}

.calculator-buttons-bottom {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.calculator-button-bottom {
  background-color: #e0e0e0;
  border: 1px solid #cacaca;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.orange-button-bottom {
  background-color: #f5913e;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  padding: 0 30px;
}

.navigation-links,
.calculator-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation-links li {
  float: left;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.logo {
  color: white;
}

.link-borders {
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.home-div,
.calculator-page {
  width: 95%;
  margin: auto;
}

.calculator-page {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.calculator-page-heading {
  align-self: flex-start;
  margin: 0 0 !important;
}

.calculator-links-li {
  margin-top: 20px;
}

.quote-page {
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 200px;
}
